<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>在线聊天系统</title>		
		<!-- link rel="icon" href="{% static "titile.ico"%}" -->		
	</head>
	<body style="background-image: linear-gradient(to right,#7A88FF, #7AFFAF);" onload="jiazai()">
		<div class="dev_dl">
			<form name="login-form" action="zhuye" method="POST" onsubmit="return login()">
				<!-- 增加这个是为了告诉django通过跨站攻击的防护 -->
				{% csrf_token %}
				<h1 align="center">炫酷的在线聊天系统登录</h1>
				<label for="nicheng">用户名:</label>
				<input type="text" name="nicheng" id="nicheng" autofocus="autofocus" required="text" /><br/>
				<label for="mima">密&nbsp;&nbsp;&nbsp;&nbsp;码:</label>
				<input type="password" name="mima" id="mima" required="password"/><br/>
				<input type="submit" name="btn_submit" class="btn_sub" value="提&nbsp;&nbsp;&nbsp;&nbsp;交" />
			</form>
		</div>
		<link rel="stylesheet" type="text/css" href="{% static  '/css/login.css' %}" >
		<script type="text/javascript" src="{% static '/js/login.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/jquery-3.5.1.js' %}"></script>
	</body>
</html>