<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>在线聊天系统主页面</title>
	</head>
	<body>
		<!--页面先分为上下，然后下面的部分分为左右，然后右侧的部分分为上下-->
		<div class="zongti">
			<div class="dingbu">
				<div class="dingbu-left"><span id="mingcheng"></span> <span>在线聊天系统欢迎你</span></div>
				<div class="dingbu-right"><button onclick="zhuxiao()" style="background-color: blueviolet; color: white; border-width: 0px; font-size: large;">注销</button></div>
			</div>
			<div class="zhuti">
				<div class="zhuti-left" name=""></div>
				<div class="zhuti-right" name="">	
					<div class="zhuti-ys"></div>
					<div class="zhuti-yx">
						<div class="zhuti-yx1">
							<textarea class="input-message" onfocus="true" onkeydown="pdaj(event)"></textarea>
						</div>
						<div class="zhuti-yx2">
							<span>Enter发送，Ctl+Enter换行</span>
							<button onclick="fasongXiaoXi()" class="btn-fs">发送</button>
						</div>		
					</div>					
				</div>
			</div>
		</div>
		<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}"
		<script type="text/javascript" src="{% static '/js/main.js' %}"></script>
	</body>
</html>