body{
    background-image: linear-gradient(to right,#7A88FF, #7AFFAF); /*设置渐变色的背景来临时生成图片但是放在这里不管用，所以设置在页面里*/
}
.dev_dl {
        width: 500px;
        height: 300px;
        text-align: center;
        vertical-align: middle;
        margin: auto auto;
        font-size: 16px;
        line-height: 50px;
        color: rgb(241, 241, 241);
        background-image: none; /*这一句是否存在并没有台大影响*/
        border: 1px solid rgb(204, 204, 204);
        margin-top: 10%;
        border-radius: 5px;
    }
.btn_sub{
    width: 80px;
    height: 25px;
    font-size: 14px;
    color: rgb(241, 241, 241);
    background-color:initial;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 3px;
    }
.btn_sub:hover{
    font-size: 16px;
}